/*** Global ****/
* {
  box-sizing: border-box;
}

/*** Typography ***/
font-family: { 'Quattrocento Sans', sans-serif; }

body {
background-image: url(../img/concrete_seamless.png);
}

body {
text-align: center
}

p {
20px;
}


/*** Navigation ***/
nav {
    padding: 2px;
    text-align: center;
}


li {
    padding: 10px;
    display: inline-block;
}

a{
    text-decoration: none;
    color: black;
    margin: 0 12px;
}
/* Link& Visited State */
a:link,
a:visited {
  border-left: 8px solid none;
  color: #B385DA;
  display: block;
  height: 32px;
  line-height: 32px;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: none;
  /* vertical-align: center; */
  width:80px;
  transition: background .25s, margin-left 2s;
}

/* Hover */
a:hover {
  background: lightgrey;
  border-left: 8px solid none;
  color: #B385DA;  
  margin-left: 32px;
transition: background .5s, margin-left .5s;
}

/*** Typography ***/
font-family: 'Merriweather Sans', sans-serif;


/*** Grid ***/

.grid-container > [class^="grid-"] {
		float: left;
		min-height: 1px;
		padding-left: 10px;
		padding-right: 10px;
		margin-left: 2%;
	}
	.grid-container > [class^="grid-"]:first-child {
		margin-left: 0;
	}
	.grid-container > [class^="grid-"]:last-child {
		float: right;
	}

	/* Columns are 65px wide, with 20px gutters
	=========================================== */

	.grid-1 {
		width: 6.5%;
	}
	.grid-2 {
		width: 15%;
	}
	.grid-3 {
		width: 23.5%;
	}
	.grid-4 {
		width: 32%;
	}
	.grid-5 {
		width: 40.5%;
	}
	.grid-6 {
		width: 49%;
	}
	.grid-7 {
		width: 57.5%;
	}
	.grid-8 {
		width: 66%;
	}
	.grid-9 {
		width: 74.5%;
	}
	.grid-10 {
		width: 83%;
	}
	.grid-11 {
		width: 91.5%;
	}
	.grid-12 {
		width: 100%;
	}

	/* Clearfix
	================================ */

	/*.grid-container:after,
	.group:after {
	  content: " ";
	  display: table;
	  clear: both;
	}
*/


/*IMAGES*/
img {
  transform: scale(.20)
            
}

#commit {
    transform: scale(.75)
}

/* Headings */

 h1,h2,
h3, h4 {
font-family: 'Merriweather Sans', sans-serif;
}



/* Paragraphs */

 p {
    font-family: 'Merriweather Sans', sans-serif;
} 






/**body {
	color: #333;
	font-size: 120%;
}

p {
 	line-height: 24px;
}

header img {
	width: 128px;
}

footer p {
	font-size: .75em;
}
**/




/*Portfolio*/




/*Contact me*/
input[type="submit"],
input[type="email"],
input[type="text"]

{
    background: lightgrey;
}


input[type="submit"]{
  background: #B385DA;
  padding: .5em;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px grey;
  color: black;
  font-size: 1em;
}
