/*** Global ****/
* {
  box-sizing: border-box;
}

/*** Typography ***/



body {
text-align: center
}

p {
20px;
}


/*** Navigation ***/
nav {
    padding: 2px;
    text-align: center;
    font-size: 1em;
    font-family: 'Merriweather Sans', sans-serif;
}


li {
    padding: 10px;
    display: inline-block;
}

a{
    text-decoration: none;
    color: black;
    margin: 0 12px;
}
/* Link& Visited State */
a:link,
a:visited {
  border-left: 8px solid none;
  color: #B385DA;
  display: block;
  height: 32px;
  line-height: 32px;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: none;
  /* vertical-align: center; */
  width:80px;
  transition: background .25s, margin-left 2s;
}

/* Hover */
a:hover {
  background: lightgrey;
  border-left: 8px solid none;
  color: #B385DA;  
  margin-left: 32px;
transition: background .5s, margin-left .5s;
}

/*** Typography ***/
body {font-family: 'Merriweather Sans', sans-serif;}


/*** Grid ***/

.grid-container > [class^="grid-"] {
		float: left;
		min-height: 1px;
		padding-left: 10px;
		padding-right: 10px;
		margin-left: 2%;
	}
	.grid-container > [class^="grid-"]:first-child {
		margin-left: 0;
	}
	.grid-container > [class^="grid-"]:last-child {
		float: right;
	}

	/* Columns are 65px wide, with 20px gutters
	=========================================== */

	.grid-1 {
		width: 6.5%;
	}
	.grid-2 {
		width: 15%;
	}
	.grid-3 {
		width: 23.5%;
	}
	.grid-4 {
		width: 32%;
	}
	.grid-5 {
		width: 40.5%;
	}
	.grid-6 {
		width: 49%;
	}
	.grid-7 {
		width: 57.5%;
	}
	.grid-8 {
		width: 66%;
	}
	.grid-9 {
		width: 74.5%;
	}
	.grid-10 {
		width: 83%;
	}
	.grid-11 {
		width: 91.5%;
	}
	.grid-12 {
		width: 100%;
	}

	/* Clearfix
	================================ */

	/*.grid-container:after,
	.group:after {
	  content: " ";
	  display: table;
	  clear: both;
	}
*/


/*IMAGES*/
#commit {
  transform: scale(.7)
            
}


.mail,
.callme {
    all: default;
}
body {
/*background-image: url(../img/concrete_seamless.png);*/

/*background-image: url(../img/concrete_seamless.png);*/
     background-image: url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/45degreee_fabric.png);
}

/* Headings */

 h1,h2,
h3, h4 {
font-family: 'Merriweather Sans', sans-serif;

}

h2 {
    color: #B385DA;
}

/* Paragraphs */

 p {
    font-family: 'Merriweather Sans', sans-serif;
    
} 



#volunteer {
    display: inblock;
}


body {
	color: #615F5F;
	
}

p {
 	line-height: 24px;
}

.bio {
    background: green;
}

header img {
	width: 128px;
}

footer p {
	font-size: .75em;
}


/* might use    .bio {
    color: black;
    font-family: 'Merriweather Sans', sans-serif;
    float: right;
    width: 50%;
    margin-top: -20px;
    font-size: 120%;
    line-height: 1.5em;
}*/


/*Portfolio*/

@keyframes captionfade {
  from { opacity: 0; }
  to { opacity: 1; }
}
body { 
  color: #615F5F; 
  font-family: 'Merriweather Sans', sans-serif;
}
div#o-gallery { 
  display: flex; 
  justify-content: space-between;
  max-width: 1800px;
  margin: 0px auto;
}
div#o-gallery figure { 
  position: relative; 
  flex: .5; 
  max-width: 500px;
  transition: 1s; 
  margin: 0; 
}
div#o-gallery img { 
  width: 200px;
  max-height: 200px;
  border: 1px solid;
  object-fit: cover;
  object-position: 0% 0%;
  transition: .75s;
  font-size: 0;
  line-height: 0;
}
div#o-gallery figure:hover { flex: 3; }
div#o-gallery figcaption { 
  position: absolute;
  top: 83%; 
  left: 105%; 
  opacity: 0; 
  width: 80%; 
}
div#o-gallery figure:hover img { 
  width: 100%; 
  max-height: 700px; 
  object-fit: fill; 
}
div#o-gallery figure:hover figcaption { 
  animation: captionfade forwards .5s .5s; 
}
div#o-gallery figure:nth-child(2) { text-align: center; }
div#o-gallery figure:nth-child(2) figcaption { text-align: left; }
div#o-gallery figure:last-child { text-align: right; }
div#o-gallery figure:last-child figcaption { left: -85%; }

@media all and (max-width: 600px) {
  div#o-gallery { flex-direction: row; }
  div#o-gallery figcaption { 
    top: 102%; 
    left: 0; 
    width: 30%; 
  }
  div#o-gallery figure { max-width: 100%; }
  div#o-gallery img { 
    border: none; 
    text-align: center; 
  }
div#o-gallery figure:nth-child(2) figcaption, div#o-gallery figure:last-child figcaption  {
  top: -11%; 
  left: auto; 
  right: 0; 
  width: 25%; 
}
div#o-gallery figure:last-child figcaption { top: -18%;}
}
@media all and (max-width: 400px) {
div#o-gallery figure:hover { margin-bottom: 4rem; }
div#o-gallery figcaption, div#o-gallery figure:nth-child(2) figcaption, div#o-gallery figure:last-child figcaption { 
  width: 100%; 
  text-align: center; 
}
div#o-gallery figure:nth-child(2) figcaption { top: -7%; 
    }
div#o-gallery figure:nth-child(3) figcaption { top: -9%; }
div#o-gallery figure:nth-child(2):hover, div#o-gallery figure:nth-child(3):hover { margin-top: 4rem; margin-bottom: 0; }
}







/******************Contact me************************/

body{
  overflow-y: scroll;
  }
.title{
  margin: 0 auto;
  width: 50%;
  text-align: center;
  padding-bottom: 10px;
  font-family: Rajdhani;
  font-size: 32px;
  color: #2E4B62;
}
.wrapper {
  width: 50%;
  height: 50%;
  margin: 5% auto 0 auto; 
}
.font {
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  color: white;
}
.form {
  text-align: center; 
  -webkit-animation: bounce 1.5s infinite;
  -moz-animation: bounce 1.5s infinite;
  animation: bounce 1.5s infinite;
}
.shadow{
  box-shadow: 0px 0px 20px 5px #AAA;
  opacity: 0.5;
  border-radius: 100px;
  width: 45%; 
  margin: 40px auto 0 auto;
  padding: 0 10px;  
  -webkit-animation: shadow 1.5s infinite;
}
.field-in {
  display: block;
  margin: 10px auto;
  padding: 10px;
  border-radius: 5px;
  border: none;
  width: 50%;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.name {
  background-color: #615F5F;  
  border-bottom: 5px solid #CA3A5A8;
}
.name:hover{
  background-color: #BCBDC0;
  border-bottom: 5px solid #615F5F;
  
}
.name:focus, .email:focus, .message:focus{
  outline: none;
  padding:15px;
}
.email {
  background-color: #BCBDC0;  
  border-bottom: 5px solid #615F5F;
}
.email:hover{
  background-color: #B385DA;
  border-bottom: 5px solid #615F5F;
}
.message {   
  background-color: #615F5F;
  border-bottom: 5px solid #615F5F;
  overflow: hidden;
  height: 50px;
}
.message:hover{
  background-color: #BCBDC0;
  border-bottom: 5px solid #615F5F;
  height: 150px;
}
.submit{
  border-radius:5px;
  padding:10px;
  background-color: #B385DA;  
  border: none;
  border-bottom: 5px solid #BCBDC0;  
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.submit:hover{
  -webkit-transform: translate(0, 4px);
  border-bottom: 2px solid #B385DA;  
  box-shadow: inset 0px 0px 10px 10px #BCBDC0;
  cursor: pointer;
}
::-webkit-input-placeholder {
   color: white;
}

:-moz-placeholder { 
   color: white;
}

::-moz-placeholder { 
   color: white; 
}

:-ms-input-placeholder {  
   color: white;  
}

@-webkit-keyframes bounce{
  0%{
    
  }
  50%{
    -webkit-transform: translate(0, 8px);
  }
}
@-moz-keyframes bounce{
  0%{
    
  }
  50%{
    -moz-transform: translate(0, 8px);
  }
}
@keyframes bounce{
  0%{
    
  }
  50%{
    transform: translate(0, 8px);
  }
}
@-webkit-keyframes shadow{
  0%{
    
  }
  50%{
    opacity: 0.8;
    width: 50%;
  }
}
@-moz-keyframes shadow{
  0%{
    
  }
  50%{
    opacity: 0.8;
    width: 50%;
  }
}
@keyframes shadow{
  0%{
    
  }
  50%{
    opacity: 0.8;
    width: 50%;
  }
}




input[type="submit"],
input[type="email"],
input[type="text"]

{
    background: lightgrey;
}


input[type="submit"]{
  background: #B385DA;
  padding: .5em;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px grey;
  color: black;
  font-size: 1em;
}

/**********footer****************/
footer{ 
  background:#B385DA; 
  position:absolute; 
  opacity: 90%;
  bottom:0; 
  width:100%; 
  height:100px; 
  color: black;
}
/******************Media Q************************/

@media screen and (min-width:481px) {}

@media screen and (min-width: 1000px) {}
